<div class="text-center">
  <h1 class="text-center mt-5">Are you sure you want to delete <strong>{{clubTla}}</strong>?</h1>
  <form method="post" action="/delete/club/{{clubTla}}?_method=delete">
    <button class="btn btn-danger mt-5  btn-lg" type="submit">Delete</button>
  </form>
</div>
