<div class="text-center">
  <h1 class="text-center mt-5">Your request has been successfully completed!</h1>
  <a href="/"><button class="btn btn-success mt-5  btn-lg">Go back to teams</button></a>
</div>
