<div class="row text-center">
  <div class="col-4" style="margin: 0 auto;">
    <iframe width="425" height="350" 
    src="https://www.openstreetmap.org/export/embed.html?bbox={{data.location.minLon}}%2C
    {{data.location.minLat}}%2C
    {{data.location.maxLong}}%2C
    {{data.location.maxLat}}&amp;layer=mapnik" style="border: 1px solid black">
    </iframe>
    <br/>
  </div>
</div>
