<nav class="navbar" style="background-color: #189970;">
    <div class="container-fluid">
      <span class="navbar-brand mb-1 h1">Football APP</span>
      <div class="text-end mt-2" style="display: flex;">
        <p class="me-4"><a href="/" class="link-info link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">Teams</a></p>
        <p class="me-4"><a href="/form" class="link-warning link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover">Add Team</a></p>
      </div>
    </div>
</nav>
